//----------------
// Classes        
//----------------
$prefix: '.classy-slider-';
$slider: '.classy-slider';
$slides: '#{$prefix}left, #{$prefix}right, #{$prefix}active';
$left: '#{$prefix}left';
$right: '#{$prefix}right';
$active: '#{$prefix}left';
$controls: '#{$prefix}controls';
$next: '#{$prefix}control-next';
$previous: '#{$prefix}control-previous';
